* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
img {
  max-width: 100%;
}
body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: "League Spartan", sans-serif;
}
.tint {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  background: #f5f2f2;
}
.tint-top {
  padding: 0px 72px 0px 0px;
  background-color: #dfdedd;
}
.container {
  padding-bottom: 142px;
  max-width: 1137px;
  margin-left: auto;
  margin-right: auto;
  background: #eee;
}
.product-page {
  max-width: 1137px;
  display: flex;
  gap: 35px;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "League Spartan";
  font-weight: 300;
  font-size: 250px;
  line-height: 230px;
  color: #272727;
}
h6 {
  margin-top: 100px;
  margin-bottom: 53px;
  font-family: "League Spartan";
  font-weight: 300;
  font-size: 24px;
  line-height: 186%;
  color: #161515;
}
.desc {
  text-align: justify;
  white-space: nowrap;
  margin: 43px 82px 61px 0;
  font-family: "League Spartan";
  font-weight: 300;
  font-size: 32px;
  line-height: 155%;
  color: #161515;
}
.btn {
  display: inline-block;
  white-space: nowrap;
  padding: 26px 74px 26px 73px;
  width: 278px;
  left: 135px;
  top: 650px;
  background: #161515;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 29px;
  color: #ffffff;
  transition: 0.3s all ease-in-out;
  border: transparent;
}
.btn:hover {
  border-radius: 55%;
  font-size: 38px;
  color: rgb(140, 194, 219);
}
a {
  text-decoration: none;
}
.pictures {
  max-width: 408px;
}
.buttons {
  display: flex;
  margin-bottom: 211px;
}
.block {
  padding: 11px 27px 10px 28px;
  width: 143px;
  height: 82px;
  left: 413px;
  top: 650px;
  background: #ffffff;
  box-shadow: 0px 0px 28px rgba(214, 214, 214, 0.25);
  font-family: "League Spartan";
  font-weight: 300;
  font-size: 32px;
  line-height: 186%;
  text-align: center;
  color: #272727;
  border: 1px solid #fff;
}
